# Day 1: Data Understandings

## Objective
- Load the library dataset
- Understand columns and basic structure

## Steps
- Import required libraries
- Load CSV file
- View first few rows
- Check dataset shape and column names

In [ ]:
import pandas as pd

# Load dataset

df = pd.read_csv("../data/library_data.csv")
# View data
df.head()

,Unnamed: 0,gender,faculty,Enter Your Location,kind of books preffered for study,How Frequently do you visit library,For what Purposes do yo visit library,Average Time spent in collage,What is general Purposes,Which one is your Prefered location,...,Dose Covid 19 Pandemic Affected Your Reading Habits,Do you purchase Books from store,Average Expenditure on books,Occupation Of Father,Parents Education,Select your Faculty,Enter your Location,Preferred Language for Learning,Do you Using National dig,Occupation of Father
0,0,Female,Arts,Urban,Text Books,Once in a week,For Reading Novels and,s 2-4 hours,To while away time,Home,...,No - Not Affected,Yes,Less Than Rs. 500,Farmer,Educated,Science,Rural,English,No,Farmer
1,1,Female,Commerce,Urban,Lecture Videos,Once in a month,For Reading Novels and,s Less than an hour,To pass the examination,Class Room,...,Yes - Positively Affected,Yes,Rs. 500 to Rs. 2000,Job,Educated,Science,Rural,English,No,Farmer
2,2,Female,Science,Rural,Reference Books,Rarely,For Reading Novels and,s Less than an hour,To get the knowledge and,Home,...,No - Not Affected,No,Less Than Rs. 500,Business,Educated,Science,Rural,English,No,Farmer
3,3,Male,other,Urban,Text Books,Once in a week,For Reading Novels and,s Less than an hour,To get the knowledge and,Central Library,...,No - Not Affected,Yes,Rs. 500 to Rs. 2000,Business,Educated,Science,Rural,English,No,Farmer
4,4,Male,Science,Rural,Lecture Videos,2-3 times in a week,To Complete Assignment,Less than an hour,To get the knowledge and,Home,...,No - Not Affected,Yes,Rs. 500 to Rs. 2000,Farmer,Educated,Science,Rural,English,No,Farmer

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           228 non-null    int64
 1   gender                                               228 non-null    object
 2   faculty                                              228 non-null    object
 3   Enter Your Location                                  228 non-null    object
 4   kind of books preffered for study                    228 non-null    object
 5   How Frequently do you visit library                  228 non-null    object
 6   For what Purposes do yo visit library                228 non-null    object
 7   Average Time spent in collage                        228 non-null    object
 8   What is general Purposes                             228 non-null    object
 9   Which one is your Prefered location                  228 non-null    object
 10  What is your preferred time?                         228 non-null    object
 11  Preferred language for Learning                      228 non-null    object
 12  Preferred type for reading                           228 non-null    object
 13  Do you enjoy the Reading                             228 non-null    object
 14  Which mode of learning /                             228 non-null    object
 15  Dose Covid Pandemic Ch                               228 non-null    object
 16  How do you study before collage                      228 non-null    object
 17  How do you study after Collage                       228 non-null    object
 18  Do you aware about Nati                              228 non-null    object
 19  Do you Using National di                             228 non-null    object
 20  Dose Covid 19 Pandemic Affected Your Reading Habits  228 non-null    object
 21  Do you purchase Books from store                     228 non-null    object
 22  Average Expenditure on books                         228 non-null    object
 23  Occupation Of Father                                 228 non-null    object
 24  Parents Education                                    228 non-null    object
 25  Select your Faculty                                  228 non-null    object
 26  Enter your Location                                  228 non-null    object
 27  Preferred Language for Learning                      228 non-null    object
 28  Do you Using National dig                            228 non-null    object
 29  Occupation of Father                                 228 non-null    object
dtypes: int64(1), object(29)
memory usage: 53.6+ KB

In [3]:
df.describe()

       Unnamed: 0
count   228.00000
mean    113.50000
std      65.96211
min       0.00000
25%      56.75000
50%     113.50000
75%     170.25000
max     227.00000

# Day 2: Data Cleaning

## Objective
- Handle missing values
- Convert dates into proper format

## Cleaning Tasks
- Check for null values
- Fix incorrect data types

In [4]:
# Check missing values
df.isnull().sum()

Unnamed: 0                                             0
gender                                                 0
faculty                                                0
Enter Your Location                                    0
kind of books preffered for study                      0
How Frequently do you visit library                    0
For what Purposes do yo visit library                  0
Average Time spent in collage                          0
What is general Purposes                               0
Which one is your Prefered location                    0
What is your preferred time?                           0
Preferred language for Learning                        0
Preferred type for reading                             0
Do you enjoy the Reading                               0
Which mode of learning /                               0
Dose Covid Pandemic Ch                                 0
How do you study before collage                        0
How do you study after Collage                         0
Do you aware about Nati                                0
Do you Using National di                               0
Dose Covid 19 Pandemic Affected Your Reading Habits    0
Do you purchase Books from store                       0
Average Expenditure on books                           0
Occupation Of Father                                   0
Parents Education                                      0
Select your Faculty                                    0
Enter your Location                                    0
Preferred Language for Learning                        0
Do you Using National dig                              0
Occupation of Father                                   0
dtype: int64

In [7]:
list(df.columns)

['Unnamed: 0',
 'gender',
 'faculty',
 'Enter Your Location',
 'kind of books preffered for study',
 'How Frequently do you visit library',
 'For what Purposes do yo visit library',
 'Average Time spent in collage',
 'What is general Purposes',
 'Which one is your Prefered location ',
 'What is your preferred time?',
 'Preferred language for Learning',
 'Preferred type for reading',
 'Do you enjoy the Reading',
 'Which mode of learning /',
 'Dose Covid Pandemic Ch',
 'How do you study before collage',
 'How do you study after Collage',
 'Do you aware about Nati',
 'Do you Using National di',
 'Dose Covid 19 Pandemic Affected Your Reading Habits',
 'Do you purchase Books from store',
 'Average Expenditure on books',
 'Occupation Of Father',
 'Parents Education',
 'Select your Faculty',
 'Enter your Location',
 'Preferred Language for Learning',
 'Do you Using National dig',
 'Occupation of Father']

In [8]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.columns

Index(['unnamed:_0', 'gender', 'faculty', 'enter_your_location',
       'kind_of_books_preffered_for_study',
       'how_frequently_do_you_visit_library',
       'for_what_purposes_do_yo_visit_library',
       'average_time_spent_in_collage', 'what_is_general_purposes',
       'which_one_is_your_prefered_location', 'what_is_your_preferred_time?',
       'preferred_language_for_learning', 'preferred_type_for_reading',
       'do_you_enjoy_the_reading', 'which_mode_of_learning_/',
       'dose_covid_pandemic_ch', 'how_do_you_study_before_collage',
       'how_do_you_study_after_collage', 'do_you_aware_about_nati',
       'do_you_using_national_di',
       'dose_covid_19_pandemic_affected_your_reading_habits',
       'do_you_purchase_books_from_store', 'average_expenditure_on_books',
       'occupation_of_father', 'parents_education', 'select_your_faculty',
       'enter_your_location', 'preferred_language_for_learning',
       'do_you_using_national_dig', 'occupation_of_father'],
      dtype='object')

In [9]:
df.isnull().sum()

unnamed:_0                                             0
gender                                                 0
faculty                                                0
enter_your_location                                    0
kind_of_books_preffered_for_study                      0
how_frequently_do_you_visit_library                    0
for_what_purposes_do_yo_visit_library                  0
average_time_spent_in_collage                          0
what_is_general_purposes                               0
which_one_is_your_prefered_location                    0
what_is_your_preferred_time?                           0
preferred_language_for_learning                        0
preferred_type_for_reading                             0
do_you_enjoy_the_reading                               0
which_mode_of_learning_/                               0
dose_covid_pandemic_ch                                 0
how_do_you_study_before_collage                        0
how_do_you_study_after_collage                         0
do_you_aware_about_nati                                0
do_you_using_national_di                               0
dose_covid_19_pandemic_affected_your_reading_habits    0
do_you_purchase_books_from_store                       0
average_expenditure_on_books                           0
occupation_of_father                                   0
parents_education                                      0
select_your_faculty                                    0
enter_your_location                                    0
preferred_language_for_learning                        0
do_you_using_national_dig                              0
occupation_of_father                                   0
dtype: int64

In [10]:
'Unnamed: 0'

'Unnamed: 0'

In [11]:
df = df.drop(columns=["unnamed:_0"], errors="ignore")

In [12]:
df["how_frequently_do_you_visit_library"].value_counts()

how_frequently_do_you_visit_library
2-3 times in a week    71
Once in a week         69
Rarely                 36
Once in a month        33
Daily                  19
Name: count, dtype: int64

In [13]:
df["faculty"].value_counts()

faculty
Science     209
Commerce      7
Arts          6
other         6
Name: count, dtype: int64

In [13]:
df.columns[df.columns.duplicated()]

Index([], dtype='object')

In [16]:
df.loc[:, df.columns == "preferred_language_for_learning"].head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

# Day 4: Department-wise Library Usage

## Objective
- Analyze which department uses the library the most

In [20]:
df.columns

Index(['Unnamed: 0', 'gender', 'faculty', 'Enter Your Location',
       'kind of books preffered for study',
       'How Frequently do you visit library',
       'For what Purposes do yo visit library',
       'Average Time spent in collage', 'What is general Purposes',
       'Which one is your Prefered location ', 'What is your preferred time?',
       'Preferred language for Learning', 'Preferred type for reading',
       'Do you enjoy the Reading', 'Which mode of learning /',
       'Dose Covid Pandemic Ch', 'How do you study before collage',
       'How do you study after Collage', 'Do you aware about Nati',
       'Do you Using National di',
       'Dose Covid 19 Pandemic Affected Your Reading Habits',
       'Do you purchase Books from store', 'Average Expenditure on books',
       'Occupation Of Father', 'Parents Education', 'Select your Faculty',
       'Enter your Location', 'Preferred Language for Learning',
       'Do you Using National dig', 'Occupation of Father'],
      dtype='object')

In [21]:
[col for col in df.columns if "department" in col]

[]

In [32]:
[col for col in df.columns if "faculty" in col]

['faculty']

In [31]:
dept_usage = df["faculty"].value_counts()
dept_usage

faculty
Science     209
Commerce      7
Arts          6
other         6
Name: count, dtype: int64

In [33]:
# Convert to DataFrame (useful for plotting)
dept_usage_df = dept_usage.reset_index()
dept_usage_df.columns = ["Department", "Books_Issued"]

dept_usage_df

  Department  Books_Issued
0    Science           209
1   Commerce             7
2       Arts             6
3      other             6

# Day 4: Department-wise Library Usage

## Objective
- Analyze which department uses the library the most

In [38]:
df.columns

Index(['Unnamed: 0', 'gender', 'faculty', 'Enter Your Location',
       'kind of books preffered for study',
       'How Frequently do you visit library',
       'For what Purposes do yo visit library',
       'Average Time spent in collage', 'What is general Purposes',
       'Which one is your Prefered location ', 'What is your preferred time?',
       'Preferred language for Learning', 'Preferred type for reading',
       'Do you enjoy the Reading', 'Which mode of learning /',
       'Dose Covid Pandemic Ch', 'How do you study before collage',
       'How do you study after Collage', 'Do you aware about Nati',
       'Do you Using National di',
       'Dose Covid 19 Pandemic Affected Your Reading Habits',
       'Do you purchase Books from store', 'Average Expenditure on books',
       'Occupation Of Father', 'Parents Education', 'Select your Faculty',
       'Enter your Location', 'Preferred Language for Learning',
       'Do you Using National dig', 'Occupation of Father'],
      dtype='object')

In [41]:
[col for col in df.columns if "book" in col]

['kind of books preffered for study', 'Average Expenditure on books']

In [45]:
for col in df.columns:
    print(col)

Unnamed: 0
gender
faculty
Enter Your Location
kind of books preffered for study
How Frequently do you visit library
For what Purposes do yo visit library
Average Time spent in collage
What is general Purposes
Which one is your Prefered location
What is your preferred time?
Preferred language for Learning
Preferred type for reading
Do you enjoy the Reading
Which mode of learning /
Dose Covid Pandemic Ch
How do you study before collage
How do you study after Collage
Do you aware about Nati
Do you Using National di
Dose Covid 19 Pandemic Affected Your Reading Habits
Do you purchase Books from store
Average Expenditure on books
Occupation Of Father
Parents Education
Select your Faculty
Enter your Location
Preferred Language for Learning
Do you Using National dig
Occupation of Father

In [46]:
# Convert to DataFrame (useful for plotting)
dept_usage_df = dept_usage.reset_index()
dept_usage_df.columns = ["Department", "Books_Issued"]

dept_usage_df

  Department  Books_Issued
0    Science           209
1   Commerce             7
2       Arts             6
3      other             6